{{#each leagues as |league|}}

<div>
  <section data-id="{{league.id}}" class="league-list">
  <p>League Name: {{league.name}}
    <button class="btn btn-default view-league">View
    </button>
    <button class="btn btn-default delete-league">Delete
    </button>
  </p>
</section>
</div>

{{/each}}
