{{#each leagues as |league|}}

<div>
  <section data-id="{{league.id}}" class="league-list">
  <p>League Name: {{league.name}} Team Name: {{league.teams}}
    <button type="button" class="btn btn-primary view-league">View
    </button>
    <button type="button" class="btn btn-primary delete-league">Delete
    </button>
  </p>
</section>
</div>

{{/each}}
